.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: var(--bs-gutter-x, .8rem);
    padding-left: var(--bs-gutter-x, .8rem);
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* footerの高さで調整 */
    margin-bottom: -240px;
}

.footer,
.push {
    height: 240px;
}

.footer a {
    color: #6dc234 !important;
}

main {
    overflow: visible !important;
}