.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: var(--bs-gutter-x, .8rem);
    padding-left: var(--bs-gutter-x, .8rem);
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* footerの高さで調整 */
    margin-bottom: -240px;
}

.footer,
.push {
    height: 240px;
}

.footer {
    color: #1F2937 !important;
    font-size: 1rem;
    font-weight: 300 !important;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .brand {
    color: #1F2937 !important;
    font-size: 1.2rem;
    font-weight: 300 !important;
}

.footer .brand small {
    font-weight: 100 !important;
    font-size: .9rem;
}

.footer .produce {
    color: #1F2937 !important;
    font-size: 0.8rem;
    font-weight: 300 !important;
}


main {
    overflow: visible !important;
}

i {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.img-1x1 {
    aspect-ratio: 1;
    object-fit: cover;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 13px;
    }
}