/* スマホ画面で左右の余白をせまくする */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: var(--bs-gutter-x, .8rem);
    padding-left: var(--bs-gutter-x, .8rem);
}


/* フッターを下に固定 */

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -200px;
}

.footer,
.push {
    height: 200px;
}


/* フッターのデザイン */

.footer {
    color: #1F2937 !important;
    font-size: 1rem;
    font-weight: 300 !important;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .brand {
    color: #1F2937 !important;
    font-size: 1.4rem;
    font-weight: 300 !important;
}

.footer .brand small {
    font-weight: 300 !important;
    font-size: 1rem;
}

.footer .produce {
    color: #1F2937 !important;
    font-size: 0.9rem;
    font-weight: 300 !important;
}


/* ドロップダウンメニューが隠れないようにする */

main {
    overflow: visible !important;
}


/* 画像アスペクト固定 */

.img-wrapper-1x1 {
    position: relative;
    width: 100%;
}

.img-wrapper-1x1:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.img-content {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.img-content img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* ナブタブ調整 */

.nav-tabs {
    border-bottom: 1px solid #E5E7EB;
}

.nav-item.nav-link.active {
    border: 1px solid #E5E7EB;
    background-color: white;
    position: relative;
}

.nav-item.nav-link.active:before {
    position: absolute;
    content: '';
    bottom: -2px;
    margin-left: -13px;
    width: calc(100%);
    border-bottom: 4px solid white;
    z-index: 999;
}


/* フォントサイズ調整 */

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 13px;
    }
}


/* ドロップダウンメニューボタンの */

.btn.btn-link.dropdown-toggle {
    box-shadow: unset;
}

.btn.btn-link.dropdown-toggle:hover {
    box-shadow: unset;
}

.btn.btn-link.dropdown-toggle:hover:active {
    box-shadow: unset;
}


/* ブランドロゴ */

.brand-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: .4rem;
    margin-top: .8rem;
}


/* テーブル調整 */

@media (max-width: 768px) {
    .table,
    .table td,
    .table th {
        border-collapse: collapse;
        text-align: center;
    }
    .table th {
        display: block;
        width: 100%;
        border: 0;
        padding: 1.5rem 0.5rem .1rem;
    }
    .table td {
        display: block;
        width: 100%;
        padding: 0 0.5rem 1.5rem;
    }
}


/* リスト調整 */

ol,
ul {
    padding-left: 1.2rem
}

ol li {
    padding-bottom: .2rem;
}


/* トースト調整 */

.toast {
    /* max-width: 95%; */
    margin: 0 8px;
}

.text-white-shadow {
    text-shadow: 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242;
}

.text-black-shadow {
    text-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff;
}


/* スライドショー調整 */

.pswp__top-bar {
    top: unset;
    bottom: 0;
    height: 72px;
}

.pswp__icn,
.pswp__counter,
.pswp__icn-shadow {
    text-shadow: 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242, 0 0 0.08rem #424242;
}

.pswp__button--arrow--next,
.pswp__button--arrow--prev,
.pswp__button--zoom {
    display: none !important;
}


/* 写真メニュー調整 */

.hide {
    display: none;
}

.hide.show {
    display: block;
}


/* 写真選択機能 */

.hidden-checkbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1000;
}

.hidden-checkbox+span::before {
    position: absolute;
    z-index: 99;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: '\f058';
    color: #000;
    bottom: 4%;
    right: 12%;
    font-size: 1.6rem;
    text-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.2rem #fff;
    display: none;
}

.hidden-checkbox:checked+span:before {
    display: block;
}

.hidden-checkbox:checked+span+img {
    opacity: 0.5;
}

.item label {
    margin-bottom: 0;
    display: inline-block;
    cursor: pointer;
}

.item img {
    pointer-events: none;
}


/* セクションの余白 */

.section {
    padding-top: 6rem;
    padding-bottom: 3rem;
}


/* サムネイルのサイズ */

.album-thumbnail-link {
    max-width: 160px;
    width: 35vw;
    height: auto;
    min-width: 80px;
    margin-right: 1.2rem;
    margin-left: 0.4rem;
}


/* プロフィール画像の調整 */

section#album .card .profile-thumbnail img {
    border: 0;
}

section#album .card .profile-thumbnail {
    width: 35vw;
    min-width: 80px;
    max-width: 160px;
    height: auto;
}


/* パンくずリスト */

.breadcrumb {
    margin-bottom: .5rem;
}


/* 写真一覧 */

#photo-list::after {
    content: "";
    flex: auto;
}

#photo-list .item {
    width: 33.3%;
    padding: 0.5%;
    max-width: 160px;
    cursor: pointer !important;
}