.navbar-brand {
    color: #212121;
    font-family: 'Montserrat';
    font-weight: 400;
    font-family: 'Poppins';
    padding: 0;
    margin-left: 8px;
}

.navbar-brand:hover {
    color: #212121;
}

.qrcode {
    width: 160px;
}

.mt-22 {
    margin-top: 22vh;
}

.hero {
    width: 100%;
    z-index: 2002;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 100px;
    background: transparent;
    box-shadow: none;
}

a.link {
    color: #6dc234 !important;
}

a.link:hover {
    color: #6dc234 !important;
}


/* フッターのデザイン */

.footer {
    color: #1F2937 !important;
    font-size: 0.9rem;
    font-weight: 300 !important;
}

.footer a {
    color: #1F2937 !important;
}

.footer a:hover {
    text-decoration: underline;
    color: #1F2937 !important;
}

.footer .brand {
    color: #1F2937 !important;
    font-size: 1.2rem;
    font-weight: 300 !important;
}

.footer .brand small {
    font-weight: 300 !important;
    font-size: 1rem;
}

.footer .produce {
    color: #1F2937 !important;
    font-size: 0.8rem;
    font-weight: 300 !important;
}

.nav__footer .brand {
    color: #1F2937 !important;
    font-size: 1.2rem;
    font-weight: 300 !important;
}

.nav__footer .produce {
    color: #1F2937 !important;
    font-size: 0.8rem;
    font-weight: 300 !important;
    margin-bottom: 1rem;
}

.nav__footer a {
    color: #1F2937 !important;
}

.nav__footer a:hover {
    text-decoration: underline;
    color: #1F2937 !important;
}


/* ヒーローデザイン */

.text-colored {
    color: #64B330;
    font-weight: 600;
}


/* イントロ画面 */

.gridwrap {
    display: grid;
    /* max-width: calc(100% - 80px); */
    margin: 0 auto;
    grid-template-columns: 100%;
    /* grid-template-rows: 1.75rem calc(100%); */
    /* grid-template-rows: 100vh; */
    position: relative;
    /* padding: 8rem 5vw 0; */
    padding: 27vh 0;
    pointer-events: none;
    height: 152vh;
    grid-template-rows: 48vh;
    max-width: none;
}

.grid {
    --gridgap: 1vw;
}

grid__item tipped tipper-attached:hover {
    all: unset;
}

.grid--layout-1 .grid__item:first-child,
.grid--layout-2 .grid__item:first-child {
    grid-area: 1 / 5 / 5 / 12;
}

.grid--layout-1 .grid__item:nth-child(2),
.grid--layout-2 .grid__item:nth-child(2) {
    grid-area: 2 / 1 / 5 / 5;
}

.grid--layout-1 .grid__item:nth-child(3),
.grid--layout-2 .grid__item:nth-child(3) {
    grid-area: 5 / 2 / 8 / 7;
}

.grid--layout-1 .grid__item:nth-child(4),
.grid--layout-2 .grid__item:nth-child(4) {
    grid-area: 5 / 7 / 7 / 10;
}

.grid {
    height: calc(var(--gridheight) * 1);
    grid-template-rows: repeat(10, calc(var(--gridwidth) / 15 - var(--gridgap)));
    grid-template-columns: repeat(10, calc(var(--gridwidth) / 15 - var(--gridgap)));
}

@media (max-width: 1200px) {
    .grid {
        height: calc(var(--gridheight) * 0.8);
        grid-template-rows: repeat(10, calc(var(--gridwidth) / 10 - var(--gridgap)));
        grid-template-columns: repeat(10, calc(var(--gridwidth) / 10 - var(--gridgap)));
    }
}

@media (max-width: 768px) {
    .grid {
        --gridgap: 10vw;
        height: calc(var(--gridheight) * 0.65);
        grid-template-rows: repeat(10, calc(var(--gridwidth) / 10 - var(--gridgap)));
        grid-template-columns: repeat(10, calc(var(--gridwidth) / 10 - var(--gridgap)));
    }
    .gridwrap {
        height: 232vh;
        grid-template-rows: 64vh;
        /* max-width: none; */
        /* grid-template-columns: 00vh; */
    }
    .grid--layout-1 .grid__item:first-child,
    .grid--layout-2 .grid__item:first-child {
        grid-area: 1 / 1 / 9 / 12;
    }
    .grid--layout-1 .grid__item:nth-child(2),
    .grid--layout-2 .grid__item:nth-child(2) {
        grid-area: 9 / 1 / 18 / 12;
    }
    .grid--layout-1 .grid__item:nth-child(3),
    .grid--layout-2 .grid__item:nth-child(3) {
        grid-area: 18 / 1 / 26 / 12;
    }
    .grid--layout-1 .grid__item:nth-child(4),
    .grid--layout-2 .grid__item:nth-child(4) {
        grid-area: 26 / 1 / 34 / 12;
    }
    .gridback {
        margin-top: -50vh;
    }
}

.menu__item-link {
    text-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff, -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff;
}


/* フォントサイズ調整 */

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 13px;
    }
    h5 {
        font-size: 4vw;
    }
    .lead {
        font-size: 3.2vw;
    }
}


/* swiper */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.grid__item .grid-item-mask {
    background: rgba(0, 0, 0, 0);
}


/* お問い合わせ */

#ajaxsuccess {
    display: block;
    margin: 24px 0;
}